<div class="footer clearfix">
    <div class="container">
        <div class="foot_leftBox fl">
            <p><span class="title">服务热线</span><i class="comIcon comIcon-phone"></i><span class="phone">19851618887</span></p>
            <p class="otherLink">总部地址：中国.徐州</p>
            <p>江苏仁铼劳务有限公司&nbsp;&nbsp; 版权所有 <i><a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备15063920</a></i></p>
        </div>
        <div class="foot_rightBox fr">
            <img class="wechat" src="/home/getJob.jpg" alt="" class="">
        </div>
    </div>
</div>