<div class="sideMenu">
    <ul>
        <li class="service animated">
            <i class="comIcon comIcon-side-icon"></i>
            <div class="sidePhone">1985168887</div>
        </li>
        <li class="bird animated">
            <i class="comIcon comIcon-side-icon2"></i>
            <div class="qrBox">
                <img src="/home/getJob.jpg" alt="">
            </div>
        </li>
        <li class="code animated">
            <i class="comIcon comIcon-side-icon3"></i>
            <div class="qrBox">
                <img src="/home/getJob.jpg" alt="">
            </div>
        </li>
        
        <li class="backtop animated"><i class="comIcon comIcon-backtop"></i></li>
    </ul>
</div>