<!DOCTYPE html>
<html>
 <head>
    <% include template/head.ejs %>
    <link rel="stylesheet" href="/pc/css/about.css" /> 
 </head> 
 <body>
  <% include template/header.ejs %>
  <div class="survey commonHtml"> 
   <div class="bannerBox" style="background-image: url(/pc/img/about-04.jpg)"></div> 
   <div class="content bg"> 
    <div class="container clearfix"> 
        <h3>概况 &nbsp; &nbsp;</h3> 
        <div class="leftBox"> 
        <p class="p1 mt30"> 
                江苏仁铼劳务服务有限公司成立于2017年7月21日，注册资金3000万元人民币，其前身由苏州迅旺劳务派遣有限公司发起，现总部坐落于历史文化名城、汉文化发源地：江苏-徐州、铜山新区。
                专业从事劳务派遣、劳务外包、机器人智能语音系统研发及销售、学历式辅助教育、技能教育和生态劳务为核心的线上、线下互联网运行及销售，为客户提供专业一体化的人力资源服务整体解决方案。
        </p> 
        </div> 
        <img src="/pc/img/about/cover-01.png" alt="" /> 
    </div> 
   </div> 
  </div> 
  <div class="incident commonHtml"> 
   <div class="content"> 
    <h3>发展历程 &nbsp; &nbsp;</h3> 
    <div class="container"> 
     <div class="sliderBox"> 
      <div class="bd"> 
       <ul> 
        <li> <h1>2005</h1> <h2>2008年，行业深造，了解行业，摸清行业运作流程。</h2> </li> 
        <li> <h1>2011</h1> <h2>成立苏州迅旺-专业从事劳务派遣、劳务外包、机器人智能语音系统研发及销售、学历式辅助教育、技能教育和生态劳务为核心的线上、线下互联网运行及销售</h2> </li> 
        <li> <h1>2015</h1> <h2>徐州仁泽-专业从事劳务派遣、劳务外包、机器人智能语音系统研发及销售、学历式辅助教育、技能教育和生态劳务为核心的线上、线下互联网运行及销售</h2> </li> 
        <li> <h1>2017</h1> <h2>宿迁仁杰、沭阳仁海、江苏仁铼-专业从事劳务派遣、劳务外包、机器人智能语音系统研发及销售、学历式辅助教育、技能教育和生态劳务为核心的线上、线下互联网运行及销售</h2></li> 
        <li> <h1>2018</h1> <h2>江苏仁山-专业从事劳务派遣、劳务外包、机器人智能语音系统研发及销售、学历式辅助教育、技能教育和生态劳务为核心的线上、线下互联网运行及销售</h2> </li> 
        <li> <h1>2019</h1> <h2>抖易聘-专业从事劳务派遣、劳务外包、机器人智能语音系统研发及销售、学历式辅助教育、技能教育和生态劳务为核心的线上、线下互联网运行及销售</h2> </li> 
       </ul> 
      </div> 
      <a href="javascript:;" class="left"></a> 
      <a href="javascript:;" class="right"></a> 
     </div> 
    </div> 
   </div> 
  </div> 

  <div class="culture commonHtml"> 
   <div class="content"> 
    <h3>企业文化 &nbsp; &nbsp;</h3> 
    <div class="container"> 
     <div class="leftBox leftImg"> 
      <img src="/pc/img/about/cultureIntro-01.png" alt="" /> 
     </div> 
     <div class="rightBox"> 
      <dl class="mt30"> 
       <dt> 
        <img src="/pc/img/mission.png" alt="" />
       </dt> 
       <dd> 
        <h3>使命</h3> 
        <p>让天下没有难找的工作</p> 
       </dd> 
      </dl> 
      <dl class="mt30"> 
       <dt> 
        <img src="/pc/img/vision.png" alt="" />
       </dt> 
       <dd> 
        <h3>愿景</h3> 
        <p>愿找工作因我而简单</p> 
       </dd> 
      </dl> 
      <dl class="mt30"> 
       <dt> 
        <img src="/pc/img/values.png" alt="" />
       </dt> 
       <dd> 
        <h3>价值观</h3> 
        <p>从实际出发，以为解决劳务问题为初衷，实现共赢</p> 
       </dd> 
      </dl> 
     </div> 
    </div> 
    <div class="cultureVedioBox"> 
     <div class="container"> 
      <h3 class="mt30">企业视频</h3> 
      <div class="videoWrap"> 
       <video width="773" controls="controls" poster="/pc/img/about/cover-01.jpg"> 
        <source src="http://wqn.jsstlw.com/douyipin.mp4" type="video/mp4"></source> 
       </video> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <% include template/footer.ejs %>
  <% include template/sidebar.ejs %>
  <% include template/script.ejs %>
  <script type="text/javascript">
    $(function () {
        $(".sliderBox").slide({
            mainCell: ".bd ul",
            prevCell: ".left",
            nextCell: ".right",
            effect: "leftLoop",
            autoPlay: true,
            easing: "easeOutCirc",
            interTime: 5000,
            vis: 4
        });

        slide4('.sliderBox')
    })
</script>   
  <script>

      var urlstr = location.href;
        $(".navBox li a").each(function () {
            if ((urlstr + '/').indexOf($(this).attr('href')) > -1 && $(this).attr('href') != '') {
                $(this).parent().addClass('on').siblings('li').removeClass('on');
            } else {
                $(this).parent().removeClass('on');
            }
        });
</script> 
 </body>
</html>