<!DOCTYPE html>
<html>
 <head>
  <% include template/head.ejs%>
  <link rel="stylesheet" href="/pc/css/join.css" /> 
 </head> 
 <body> 
    <% include template/header.ejs %>
  <div class="culture commonHtml"> 
   <div class="bannerBox" style="background-image: url(/pc/img/join-02.jpg)"></div> 
   <div class="commonWrap" style="background-color: #f8f8f8">
    <div class="container">
     <div class="subNav">
      <div class="breadcrumb">
       <img src="/pc/img/join/bridge_blue.png" alt="" />
       <a href="javascript::">加入我们</a>
      </div>
      <div class="tabBox">
       <ul>
        <li class=""><a href="javascript::">人才招聘</a></li>
       </ul>
      </div>
     </div>
    </div>
   </div> 
   <div class="content"> 
    <div class="dec">
     <div class="container">
      <h1>春风十里，不如仁铼有你</h1>
      <img src="/pc/img/join/bridge.png" />
      <p>在这里，我们希望看到人尽其才，让每个人的闪光点，照亮万物聚兴的美好。<br />仁铼“大树级事业”已在路上，期待与你同行。</p>
     </div>
    </div> 
    <div class="cultureVedioBox"> 
     <div class="container"> 
      <ul> 
       <li class="li_pc">
          <img src="/pc/img/9a42f8d4-6f1b-4bc3-bbee-6dfa816f70ef.png" alt="" />
          <div class="joinleft">
              <p>职位: 招聘店长</p>
              <p>薪资: 2100-8000</p>
              <p>地点: 江苏·徐州</p>
              <p>详细地址: 铜山万达</p>
              <p>工作内容: 线上招聘</p>
          </div>
          <div class="joinright"><img src="/home/getJob.jpg" alt=""></div>
        </li>
        <li class="li_pc">
            <img src="/pc/img/292c9ea8-acde-4252-b5a3-532728d1d37e.png" alt="" />
            <div class="joinleft">
                <p>职位: 网络运维</p>
                <p>薪资: 5000-8000</p>
                <p>地点: 江苏·徐州</p>
                <p>详细地址: 铜山万达</p>
                <p>工作内容: 运行维护各个平台稳定运行</p>
            </div>
            <div class="joinright"><img src="/home/getJob.jpg" alt=""></div>
        </li>
        <li class="li_pc">
            <img src="/pc/img/f4ea94ad-dc9f-41fd-b7b4-0cfbd1d3fd61.png" alt="" />
            <div class="joinleft">
                <p>职位: 人事</p>
                <p>薪资: 3000-4000</p>
                <p>地点: 江苏·徐州</p>
                <p>详细地址: 铜山万达</p>
                <p>工作内容: 公司内部招聘</p>
            </div>
            <div class="joinright"><img src="/home/getJob.jpg" alt=""></div>
        </li>
      </ul> 
     </div> 
    </div> 
   </div> 
  </div> 
    <% include template/footer.ejs %> 
    <% include template/sidebar.ejs %>
    <% include template/script.ejs%>
 </body>
</html>