@charset "UTF-8";
body {
  background: #efefef;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: rgba(1, 1, 1, 0.7);
}
.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: royalblue;
}
.nav-item {
  flex: 1;
}
h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 2.5rem 0 1.5rem;
}
.product > .card,
.certificate > .card {
  border: none;
  border-radius: 10px !important;
}

@media (min-width: 576px) {
  .product > .card,
  .certificate > .card {
    margin: 0 50px;
  }
}
.factory {
  width: 90%;
  margin: 0 auto;
}
.factory .data {
  position: relative;
  font-size: 40px;
  color: #fff;
  /* background: url("../img/factory2.jpg"); */
  background-size: cover;
}
.factory .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.factory .data .number {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: 80%;
}
.factory .data .number > div {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
}
.factory .data .number .title {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
}
.footerPic .carousel-inner {
  position: relative;
}
.footerPic .txt {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  line-height: 1.5;
  font-size: 40px;
  color: #fff;
  background-color: rgba(1, 1, 2, 0.7);
}
.footerPic .txt .intro {
  margin: 40px;
  font-size: 20px;
}

.footer {
  width: 100%;
  padding: 40px;
  color: #fff;
  background-color: #000;
}
.footer .row > div {
  display: flex;
  justify-content: center;
}
.footer .statement {
  margin-top: 20px;
  text-align: center;
}
